<div class="navbar__dropdown position-absolute">
  <ul class="
      navbar__dropdown__list
      bg-3
      list-style-none
      elevation-1
      position-relative
      ">
    <li class="navbar__dropdown__list__item">
      <a href="" class="navbar__dropdown__list__item__link">
        <div class="navbar__dropdown__list__item__link__text color-2 font-2">Technology</div>
        <div class="navbar__dropdown__list__item__link__description color-1 font-3">What powers Corti.</div>
      </a>
    </li>
    <li class="navbar__dropdown__list__item">
      <a href="" class="navbar__dropdown__list__item__link">
        <div class="navbar__dropdown__list__item__link__text color-2 font-2">Research</div>
        <div class="navbar__dropdown__list__item__link__description color-1 font-3">Articles by Corti.</div>
      </a>
    </li>
  </ul>
</div>
